@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;0,900;1,100&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    
    /*---Variveis de cores---*/
    --color1: #FFFFFF;
    --color2: #E2E2E2;
    --color3: #707070;
    --color4: #0B6699;
    --color5: #931854;

    /*---Variaveis de font---*/
    --fontTitle: 'Lato', sans-serif;
    --fontBody: 'Montserrat', sans-serif;
}


@media(max-width: 420px){
    .btnclose{
        display: block;
    }
    .btnMenu{
        display: block;
        border: none;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        background: none;
    }
    .btnMenu span{
        width: 40px;
        height: 2px;

        background: var(--color5);

        margin: 3px;
    }
    .menu{
        background: #E2E2E280;
    }
    .menu .off{
        width: 0% !important;
    }
    .menu .menuList{
        position: absolute;

        width: 60%;
        height: 100vh;

        top: 0;
        right: 0;

        background: var(--color5);

        z-index: 9999;

        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;

        font-family: var(--fontBody);
        font-weight: 900;
        overflow: hidden;

        transition: .5s;
    }    
    .menu .menuList > button{
        position: absolute;
        left: 20px;
        top: 10px;

        border: none;

        display: flex;
        justify-content: center;
        align-items: center;

        background: none;

        color: var(--color1);

        font-family: var(--fontBody);
        font-size: 3rem;
        font-weight: 500;
    }
    .menu ul{
        list-style: none;

        margin-top: 70px;
    } 
    .menu li{
        display: block;
    
        font-weight: 500;
    
        margin: 30px 0px;
    } 
    .menu li > a{
        color: var(--color1);

        font-size: 1.5rem;
        font-weight: 700;
    } 


    .center{
        display: flex;
        justify-content: center;
    }

    .esquerda, .direita{
        justify-content: center;
    }

    .conatiner-per{
        position: relative;
    
        width: 100%;
        height: 100vh;
    
        background-image: url(../img/fundo1.png);
        background-position: 554px;
        background-size: cover;
    }
    .conatiner-per .box{   
        position: absolute;
        width: 100%;     
        max-width: 350px;
    
        margin-left: 20px;
        top: 24rem;

        z-index: 99999;
    }
    .conatiner-per .box h1{
        font-family: var(--fontTitle);
        font-size: 4rem;
        font-weight: 900;
    
        margin-bottom: 10rem;
    
        line-height: .8;
    }
    .conatiner-per .box p{
        font-family: var(--fontBody);
        font-size: 1.2rem;
        color: var(--color1);
    }
    .conatiner-per .box h1{
        color: var(--color4);
    }
    .ondas{
        position: absolute;

        width: 100%;
        height: 610px;

        background-image: url(../img/Path1_celular2.png);
        background-size: 100%;
        background-repeat: no-repeat;

        bottom: -187px;

        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    .ondas > img{
        width: 51px;
        height: 25px;
    
        margin-bottom: 20px;
    }

    .containerCards{
        position: relative;
        top: 200px;
    }

    .cardPersonalizado{
        position: relative;
    
        width: 100%;
        max-width: 350px;
    
        margin: 10px 0px 60px 0px;
    
        background: var(--color1);
    
        border-radius: 5px;
    
        box-shadow: 0 0 10px #00000050;
    
        padding: 10px 20px;

        text-align: center;
    }
    .cardPersonalizado > h3{
        font-family: var(--fontTitle);
        font-weight: 900;
    
        color: var(--color5);
    
        margin-top: 120px;
    }
    .cardPersonalizado > p{
        font-family: var(--fontBody);
        font-size: .9rem;
    
        color: var(--color5);
    }
    .Home::before{
        content: url(../img/homem.png);
        display: block;
    
        position: absolute;
        
        left: 100px;
        right: 50%;
        top: -40px;
    }
    .Mulher::before{
        content: url(../img/mulher.png);
        display: block;
    
        position: absolute;
    
        left: 100px;
        right: 50%;
        top: -40px;
    }

    .end{
        position: relative;

        top: 200px;

        color: var(--color5);
    }
    .end h1{
        font-size: 4rem;
        font-weight: 900;
    
        margin-bottom: 40px;
    
        font-family: var(--fontTitle);
    }
    .end p{
        font-size: 1.1rem;
        font-family: var(--fontBody);
    
        color: var(--color5);
    }
    .end .box{
        background: var(--color1);
    
        text-align: center;
    
        padding: 30px 50px;
    
        border-radius: 10px;
    
        margin-top: 120px;
    
        box-shadow: 0 0 10px #00000050;
    }
}

@media(max-width: 380px){
    .conatiner-per .box h1{
        font-family: var(--fontTitle);
        font-size: 3.2rem;
        font-weight: 900;
        
        margin-top: 3rem;
        margin-bottom: 12rem;
    
        line-height: .8;
    }
    .conatiner-per .box p{
        font-family: var(--fontBody);
        font-size: 1.2rem;
        color: var(--color1);
    }
}